:root {
  /* colors */
  --base-100: #ebeff4;
  --base-200: #e5e9f0;
  --base-300: #d8dee9;
  --base-content: #2e3440;
  --primary: #5f81ac;
  --primary-content: #02060b;
  --secondary: #80a1c1;
  --secondary-content: #05090d;
  --accent: #88c0d0;
  --accent-content: #060d0f;
  --neutral: #4c576a;
  --neutral-content: #d8dee9;
  --info: #b48ead;
  --info-content: #0b070b;
  --success: #a3be8c;
  --success-content: #0a0d07;
  --warning: #eacb8b;
  --warning-content: #140f06;
  --error: #bf616a;
  --error-content: #0d0404;

  /* common */
  --radius-sm: 4px;
  --radius-md: 6px;
  --radius-lg: 8px;
  --gap-sm: 16px;
  --gap-md: 20px;
  --gap-lg: 24px;
  --break-sm: 4px;
  --break-md: 8px;
  --break-lg: 12px;
  --header-height: 60px;
  --footer-height: 60px;
  --nav-max-width: 1024px;
  --main-max-width: 720px;
  --title-size: 24px;
  --subtitle-size: 20px;
  --content-size: 16px;
  --desc-size: 14px;
  --subtext-size: 12px;
}
*,
::after,
::before {
  box-sizing: border-box;
}

body {
  background-color: var(--base-300);
  color: var(--base-content);
  font-size: var(--content-size);
}

.nav {
  display: flex;
  justify-content: space-between;
  max-width: calc(var(--nav-max-width) + 2 * var(--gap-md));
  height: var(--header-height);
  line-height: var(--header-height);
  margin: 0 auto;
}

.logo {
  display: flex;
  align-items: center;
  margin: auto var(--gap-md);
}

.logo a {
  font-size: var(--title-size);
  font-weight: 700;
  text-decoration: none;
}

.main {
  position: relative;
  min-height: calc(100vh - var(--header-height) - var(--footer-height));
  max-width: calc(var(--main-max-width) + 2 * var(--gap-md));
  margin: auto;
  padding: var(--gap-md);
}

.entry {
  margin-bottom: var(--gap-md);
  padding: var(--gap-md);
  background-color: var(--base-100);
  border: 1px solid var(--neutral);
  border-radius: var(--radius-md);
  transition: transform 0.1s;
}

.entry:active {
  transform: scale(0.98);
}

.entry header h2 {
  font-size: var(--title-size);
  line-height: 1.3;
}

.entry-content {
  display: -webkit-box;
  height: 90px;
  line-height: 30px;
  margin: var(--break-md) 0;
  color: var(--neutral);
  font-size: var(--desc-size);
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.entry footer {
  font-size: var(--subtext-size);
  color: var(--secondary);
}
